services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.4
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:8.1.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  redis:
    image: redis:8.2.2
    container_name: redis
    ports:
      - "6379:6379"

  matchmaking.service:
    image: matchmakingservice
    build:
      context: .
      dockerfile: MatchMaking.Service/Dockerfile
    depends_on:
      - kafka
      - redis
    ports:
      - "5000:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Redis__ConnectionString=redis:6379
      - Kafka__BootstrapServers=kafka:9092

  matchmaking.worker:
    image: matchmakingworker
    build:
      context: .
      dockerfile: MatchMaking.Worker/Dockerfile
    depends_on:
      - kafka
      - redis
    environment:
      - Redis__ConnectionString=redis:6379
      - Kafka__BootstrapServers=kafka:9092

